<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesfinal.css') }}">
	</head>

	<body>
		<div class = 'deletepane'>
			<h1> Are you sure you want to delete {{item.name}}? </h1>

			<form action="{{ url_for('deleteMenuItem', restID=restID, menuID=item.id) }}" method = 'post' class="deleditform">
				<input type='submit', value = 'Delete'>
				<a href = '{{url_for('showMenuItems', restID = restID)}}' class="button-link"> Cancel </a>
			</form>
		</div>
	</body>

</html>
