<html>

	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesfinal.css') }}">
	</head>

	<body>
		<div class="deletepane">
			<h1> Edit Menu Item </h1>

			<form action="{{ url_for('editMenuItem', restID=restID, menuID=menuID) }}" method = 'post' >
				<p>Name:</p>
					<input type ='text' size='30' name='txtName' placeholder = '{{item.name }}'>
				<p>Description:</p>
					<input type ='text' size='30' name='txtDesc' placeholder = '{{item.description}}'>
				<p>Price:</p>
					<input type ='text' size='30' name='txtCost' placeholder = '{{item.price}}'>
				<p>Course:</p>
					{% if item.course == 'Appetizer' %}
						<dd><input type ='radio' name='optourse' value='Appetizer'checked >Appetizer</dd>
					{%else%}
						<dd><input type ='radio' name='optCourse' value='Appetizer' >Appetizer</dd>
					{% endif %}

					{% if item.course == 'Entree' %}
						<dd><input type ='radio' name='optCourse' value='Entree' checked>Entree</dd>
					{%else%}
						<dd><input type ='radio' name='optCourse' value='Entree'>Entree</dd>
					{% endif %}

					{% if item.course == 'Dessert'%}
						<dd><input type ='radio' name='optCourse' value='Dessert'checked >Dessert</dd>
					{% else %}
						<dd><input type ='radio' name='optCourse' value='Dessert'>Dessert</dd>
					{% endif %}

					{%if item.course =='Beverage'%}
						<dd><input type ='radio' name='optCourse' value='Beverage'checked >Beverage</dd>
					{% else %}
						<dd><input type ='radio' name='optCourse' value='Beverage'>Beverage</dd>
					{% endif %}

				<input type='submit' value='Save'>
				<a href = '{{url_for('showMenuItems', restID = restID)}}'> Cancel </a>
			</form>
		</div>
	</body>
</html>

