<html>

	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesfinal.css') }}">
	</head>

	<body>
		<div class = 'pane'>
			<h1 style="text-align: center;">Restaurants ({{ restaurants|length }})</h1>
			{% with messages = get_flashed_messages() %}
				{% if messages %}  
					<ul>
						{% for message in messages %}
							<li> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}

			<a href="{{url_for('newRestaurant')}}" style="text-align: center;"> <h3> Add New Restaurant </h3> </a>

			{% for restaurant in restaurants %}
				<div class="divRestarunts">
					<a class="name" href="{{url_for('showMenuItems', restID = restaurant.id)}}" title="Shown menu" >{{restaurant.name}}</a>
					<div>
						<a href="{{url_for('deleteRestaurant', restID = restaurant.id)}}"><img src="{{ url_for('static', filename='img/delete.png') }}" alt="Delete" title="Delete restaurant"></a>
						<a href="{{url_for('editRestaurant', restID = restaurant.id)}}"><img src="{{ url_for('static', filename='img/edit.png') }}" alt="Edit" title="Edit restaurant"></a>
					</div>
				</div>

			{% endfor %}
		</div>
	</body>
</html>
